h1 {

}
h2 {
    font-size: 1.75rem;
}
body a {
    color: #10597d;
}
#header {
    padding: 4px 0;
}
#intro .intro-content span a {
    text-shadow: 0 0 12px #fff;
}
#intro .intro-content a:hover {
    color: #7cbc48 !important;
    text-shadow: unset;
}
#intro .intro-content .btn-get-started:hover {
    color: #10597d !important;
}
.breadcrumb {
    background-color: #fff;
    margin: 15px auto;
    padding: 0;
    font-size: 14px;
}
.article-title {
    margin-bottom: 15px;
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
}
.article-meta {
    font-size: 1rem;
}
.article-meta > div {
    display: inline-block;
}
.article-meta > div.ss-box {
    margin: 0;
    position: fixed;
    z-index: 1;
    bottom: 15%;
    right: 15px;
    width: auto;
}
.article-meta > div > span {
    /* font-style: italic; */
    color: #546E7A;
}
.article-meta > div > a.author,
.article-meta > div > span.created,
.article-meta > div > span.updated {
    font-style: normal;
    color: #444;
}
.article-meta > div.ss-box a {
    padding: 6px;
    margin: 5px;
    width: 34px;
    border-radius: 50%;
    color: #10597d !important;
    background: #fff !important;
    display: block;
}
.article-meta a.ss-btn:hover {
    color: #fff !important;
}
.article-meta a.ss-btn.ss-btn-pinterest,
.article-meta a.ss-btn.ss-btn-viber,
.article-meta a.ss-btn.ss-btn-tumblr,
.article-meta a.ss-btn.ss-btn-reddit,
.article-meta a.ss-btn.ss-btn-pocket {
    display: none;
}
.article-image img {
    border-radius: 5px;
    width: 100%;
}
.article-content {
    margin: 15px auto;
    line-height: 1.75;
}
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    margin: 30px 0 0 0;
}
.article-content p {
    margin: 15px auto;
}
.article-content ul,
.article-content ol {
    margin: 15px auto;
    padding: 0;
    padding-inline-start: 15px;
}
.article-content li::before {
    content: "\f375";
    margin-right: 10px;
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.article-content li {
    list-style: none;
    margin-bottom: 10px;
}
.articles-sidebar {
    margin: 30px auto;
}
.articles-sidebar h2 {
    font-size: 1.5rem;
    color: #555;
}
.articles-sidebar .article {
    margin: 15px auto;
}
.articles-sidebar .article a {
    text-decoration: underline;
    text-underline-offset: 2px;
}
footer .footer-vertical-nav li {
    display: block;
    text-align: left;
}
footer .footer-vertical-nav.bottom-footer {
    font-size: 12px;
}
footer .footer-vertical-nav.bottom-footer li a {
    margin: 15px 0;
    padding: unset;
    font-size: 13px;
}
.back-to-top {
    bottom: 45px;
}
.article-image.shorts-image {
    margin: 15px auto;
}
input#search-news {
    border: 1px solid #dbdbdb;
    padding: 15px;
    text-align: center;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
    cursor: pointer;
    opacity: 0.7;
    background-origin: content-box;
    box-shadow: 0 0 6px 0 #1183d6;
    margin: 15px auto;
}
.search-news {
    margin-bottom: 15px;
}
.search-news .news ._news {
    border: 1px solid #dbdbdb;
    padding: 15px;
    border-radius: 5px;
    margin: 10px auto;
}
.search-news .news ._news h5,
.search-news .news ._news p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 15px;
    font-size: 18px;
    margin: 10px 0;
}
.search-news .news ._news p {
    font-size: 16px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}
.search-news .news ._news .image-hover img {
    /* height: 143px;
    width: 254px; */
}
.search-news .news ._news .image-hover .thumb-title {
    padding: 14px 24px;
    background: #000;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}
#services .box h4 {
    margin-bottom: 5px;
}
#services .box p {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
#clients img {
    opacity: 0.9;
    padding: 0 2px;
}
#intro .intro-content h2 {
    font-size: 26px;
}
#about .content h2 {
    font-size: 24px;
}
#mobile-nav-toggle {
    position: absolute;
}
#site-fixed-ad-container {
    display: none;
}
#site-fixed-ad-container {
    position: fixed;
    z-index: 2147483645;
    background-color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
    padding: 5px;
}
#site-fixed-ad-container .x {
    position: absolute;
    right: 8px;
    top: 0;
}
#site-fixed-ad-container .x:hover {
    cursor: pointer;
}
.shop-data .shop-data-results .shop-item {
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #e7ebed;
    text-align: center;
    border-radius: 5px;
    min-height: 300px;
}
.shop-data .shop-data-results .shop-item:hover {
    background-color: #f9f9f9;
}
.shop-data .shop-data-results .shop-item .discount {
    left: 25px;
    position: absolute;
    top: 25px;
    z-index: 1;
}
.shop-data .shop-data-results .shop-item .discount span.main {
    border-radius: 4px;
    /* box-shadow: 0 1px 12px rgba(0,0,0,.8); */
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 4px;
    max-width: 100%;
    overflow: hidden;
    padding: 1px 6px 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #e6f4ea;
    color: #137333;
}
.shop-data .shop-data-results .shop-item .discount .rupee {
    font-size: 8px;
    top: -4px;
    position: relative;
    left: -1px;
}
.shop-data .shop-data-results .shop-item .discount .off {
    margin-left: 5px;
}
.shop-data .shop-data-results .shop-item .shop-image img {
    border-radius: 5px;
    height: 175px;
}
.shop-data .shop-data-results .shop-item:hover .shop-image img {
    transform: scale(1.1);
}
.shop-data .shop-data-results .shop-item h4.shop-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: 15px auto;
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
    text-align: left;
    /* display: grid;
    align-content: center; */
}
.shop-data .shop-data-results .shop-item h4.shop-title a {
    color: #292b2c;
}
.shop-data .shop-data-results .shop-item h4.shop-title a:hover {
    color: #0275d8;
    text-decoration: unset;
}
.shop-data .shop-data-results .shop-item .price {
    margin-top: 15px;
    border-top: 1px solid #e7ebed;
    padding-top: 15px;
    text-align: center;
}
.shop-data .shop-data-results .shop-item .price .discountprice {
    margin-right: 5px;
    font-weight: bold;
}
.shop-data .shop-data-results .shop-item .price .actualprice {
    font-size: 14px;
    color: #70757a;
    text-decoration: line-through;
}
.shop-data .shop-data-results .shop-item .price .rupee {
    top: -4px;
    font-size: 10px;
    position: relative;
    left: -2px;
}
.shop-data .shop-data-results .shop-item .store {
    margin-top: 5px;
    text-align: left;
}
.shop-data .shop-data-results .shop-item .store a {
    color: #292b2c;
}
.shop-data .shop-data-results .shop-item .store a:hover {
    color: #0275d8;
    text-decoration: unset;
}
.shop-data .shop-data-results .col-md-4.shop-item-wrapper.hide,
.shop-data .shop-data-results .shop-item .summary.hide,
.shop-data .shop-data-results .shop-item .category.hide {
    display: none;
}
.google-ad,
.amazon-ad {
    margin: 15px auto;
}
.google-ad > p {
    display: none;
}
.homepage-view-all {
    display: flex;
    margin-top: 15px;
}
.homepage-view-all:before {
    content: '';
    flex: 1;
    margin-right: 0.5rem;
    height: 1px;
    background-color: #7abb49;
    margin-top: 15px;
}
.homepage-view-all a {
    color: #10597d;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
    padding: 4px 10px 4px;
    text-transform: uppercase;
    text-decoration: none;
}
.homepage-view-all a i {
    font-size: 13px;
    margin-left: 2px;
    font-weight: bold;
}
.lazy {
    background: url('/upload/cursor.jpg') no-repeat center center;
    background-size: cover;
}
.lazy[src] {
    background: none;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.blink {
    animation: blink 1s infinite;
}
#header #logo .logo-icon img {
    height: 50px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}
#policy-container {
    position: fixed;
    z-index: 2147483645;
    background-color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
    padding: 5px;
}
#policy-container .policy-container {
    margin: 15px auto;
}
#policy-container .policy-container .title {
    font-size: 20px;
    margin: 15px auto;
}
#policy-container .policy-container .title .x {
    position: absolute;
    right: 20px;
    top: 10px;
}
#policy-container .policy-container .title .x:hover {
    cursor: pointer;
}
#policy-container .policy-container .desc {
    margin: 15px auto;
    font-size: 14px;
}
#policy-container .policy-container .policy-button {
    font-size: 15px;
    border-radius: 5px;
    background-color: #10597d;
    color: #fff;
    border-color: #10597d;
    padding: 6px;
    text-align: center;
    /* width: 50%; */
    margin-top: 20px;
}
#policy-container .policy-container .policy-button:hover {
    cursor: pointer;
}
.schedule-your-dental-appointment .btn {
    background-color: #10597d;
    color: #fff;
    border-color: #10597d;
}
.schedule-your-dental-appointment .btn:hover {
    background-color: #fff;
    color: #10597d;
}
.consultation-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay with some transparency */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is on top of other content */
    padding: 20px; /* Space around modal */
}
.consultation-form-container .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    max-height: 80vh; /* Restrict height of modal */
    overflow-y: auto; /* Allow scroll if content overflows */
    position: relative;
}
.consultation-form-container .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}
.consultation-form-container fieldset {
    border: 2px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}
.consultation-form-container legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
}
.consultation-form-container .form-section {
    margin-bottom: 15px;
}
.consultation-form-container .form-section label {
    display: block;
    margin-bottom: 5px;
}
.consultation-form-container .form-section input[type="text"],
.consultation-form-container .form-section input[type="number"],
.consultation-form-container .form-section input[type="tel"],
.consultation-form-container .form-section input[type="email"],
.consultation-form-container .form-section select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.consultation-form-container .form-section input[type="text"]:focus,
.consultation-form-container .form-section input[type="number"]:focus,
.consultation-form-container .form-section input[type="tel"]:focus,
.consultation-form-container .form-section input[type="email"]:focus,
.consultation-form-container .form-section select:focus {
    outline: 2px solid #007bff;
}
.consultation-form-container .form-section input[type="radio"] {
    margin-right: 5px;
}
.consultation-form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
}
.consultation-form-container button:hover {
    background-color: #0056b3;
}
.consultation-form-container .form-section input[type="radio"]:checked,
.consultation-form-container .form-section input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}
.consultation-form-container .form-section input[type="radio"]:focus,
.consultation-form-container .form-section input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.consultation-form-container .form-section input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}
.consultation-form-container .form-section label {
    font-size: 1em;
    display: flex;
    align-items: center;
}
.consultation-form-container .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.consultation-form-container .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Adjust space between rows */
}
/* .consultation-form-container .form-section {
    flex: 1;
    margin-right: 10px;
} */
.nav-menu li.active a {
    color: #10597d;
}
.article-content.read-article-content.dental-article-content a {
    text-decoration: underline;
    text-underline-offset: 2px;
}
.dental-article-content table tr th,
.dental-article-content table tr td {
    border: 1px solid #10597d;
    padding: 2px 6px;
    vertical-align: top;
}


/*  */
@media (min-width: 600px) {
    #header {
        padding: 10px 0;
    }
    .article-title {
        font-size: 2.5rem;
    }
    .article-meta {
        position: relative;
        border-top: 1px solid #e6ebed;
        border-bottom: 1px solid #e6ebed;
        display: block;
        padding: 12px 0;
        vertical-align: middle;
    }
    .article-meta > div.ss-box {
        display: inline-block;
        background-color: unset;
        position: absolute;
        right: 0;
    }
    .article-meta > div.ss-box a {
        font-size: 15px;
        padding: 4px;
        margin: auto 4px;
        border-radius: 50%;
        width: 32px;
        display: inline-block;
        background: #10597d !important;
        color: #fff !important;
    }
    footer .footer-vertical-nav li {
        display: inline-block;
    }
    footer .footer-vertical-nav.bottom-footer li a {
        margin: auto 15px;
        padding: unset;
        display: inline-block;
    }
    .back-to-top {
        bottom: 15px;
    }
    .article-image.shorts-image {
        width: 50%;
        float: right;
        margin: 15px 0 5px 15px;
    }
    .search-news .news ._news .image-hover .thumb-title {
        border-radius: 0 5px 0 5px;
        padding: 8px 16px;
    }
    #services .box .icon img {
        width: 100px;
        height: 100px;
    }
    #clients img {
        padding: 15px 5px;
    }
    #about .content h3 {
        margin: 10px auto;
    }
    #about .content ul li {
        padding-bottom: unset;
    }
    #intro .intro-content h2 {
        font-size: 36px;
    }
    #about .content h2 {
        font-size: 36px;
    }
    #site-fixed-ad-container {
        display: block;
    }
    #site-fixed-ad-container {
        width: 25%;
        right: 15px;
        bottom: 15px;
        border-radius: 5px;
        padding: 8px;
    }
    a.ss-btn.ss-btn-share {
        display: none;
    }
    #policy-container {
        width: 25%;
        left: 15px;
        bottom: 15px;
        border-radius: 5px;
        padding: 8px;
    }
    #policy-container .policy-container .policy-button {
        /* width: 100%; */
        margin: auto;
    }
}