header .navbar .logo a span.logo-primary {
    font-size: 34px;
    line-height: 1;
}
header .navbar .logo a span.logo-secondary {
    display: block;
    font-size: 13px;
    line-height: 2;
    font-family: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
.top-category-widget-area .single-cat-widget .content-details {
    top: 32%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    bottom: 0px;
    position: absolute;
    margin: auto 25px;
}
.top-category-widget-area .single-cat-widget .content-details h4 {
    color: #fff;
    line-height: 1.5;
    text-transform: capitalize !important;
    font-size: 18px;
}
ul.course-points {
    list-style: inside;
}
._copyright {
    /* padding: 14px 0 0 0; */
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 1.5px;
}
.footer-area .footer-bottom a,
.footer-area .footer-bottom span {
    color: #019cde;
}