.header {
    padding: 0;
    height: 100px;
}
.header .logo img {
    max-height: 75px;
}
.hero:before {
    background: color-mix(in srgb, var(--background-color), transparent 50%);
}
.hero .about-info {
    padding: 40px 0 40px 0;
}
.hero .about-info h2 {
    font-size: 28px;
}
.gurus .section-title p {
    color: #2f3138;
}
.hotels .card h5 {
    font-size: 1.1rem;
    padding: 0 20px;
}
.hotels .card p {
    font-style: normal;
}
.plyr__poster {
    background-image: url(/sri-vedanta-swarajya-sangam/assets/audio/gurumantra.gif);
    opacity: 1;    
}
.gallery {
    overflow: clip;
}
.glightbox-container .gbtn {
    visibility: hidden;
}
.footer .copyright {
    text-transform: uppercase;
    font-size: 12px;
}
.footer .copyright a {
    color: #fff;
}
.footer .copyright a:hover {
    color: var(--accent-color);
}
.footer .copyright a:hover i {
    color: #fff;
}
.gurus {
    padding: 30px 0;
}
.gurus .section-title {
    padding-bottom: 15px;
}
.books {
    padding: 30px 0;
}
.books .section-title {
    padding-bottom: 0;
}
.books .swiper-slide {
    /* border: 1px solid; */
    /* padding: 10px; */
}
.books .swiper-slide img {

}
.books .swiper-slide h5 {
    text-align: center;
    margin: 10px auto;
    font-size: 1.1rem;
}
.books .swiper-slide {
    transform: scale(0.9);
}
.books .swiper-slide-active {
    border: unset;
}
.books .swiper-pagination {
    margin-top: 0px;
}
.page-title {
    padding: 80px 0 20px 0;
}
.section.c-section {
    padding: 15px 0px;
}
.section-title.c-section-title {
    padding-bottom: 0;
}
.section-title.c-section-title h2 {
    text-align: left;
    font-size: 24px;
}
.section-title.c-section-title h2::after {
    margin: unset;
}
.section-title.c-section-title h4 {
    text-align: left;
}
.section.c-section .guru-summary,
.section.c-section .book-summary {
    padding-top: 15px;
}
.page-title.c-page-title h1 {
    font-size: 26px;
}
.page-title .breadcrumbs ol {
    font-size: 13px;
}
.c-section-detail {
    margin: 15px auto;
}
.c-section-detail .cta-btn,
.c-section-detail .cta-btn:focus,
.card-details .cta-btn,
.card-details .cta-btn:focus,
.guru-summary .cta-btn,
.guru-summary .cta-btn:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 5px;
    transition: 0.3s;
}
.c-section-detail .cta-btn:hover,
.c-section-detail .cta-btn:focus:hover,
.card-details .cta-btn:hover,
.card-details .cta-btn:focus:hover,
.guru-summary .cta-btn:hover,
.guru-summary .cta-btn:focus:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}
.card-details {
    padding: 15px;
}
.card-details h3 {
    font-size: 1.25rem;
}
.card-details h5 {
    font-size: 1rem;
    line-height: 1.25;
}
.books-brief {
    border: 1px solid #0f1a4d;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.books-brief .c-section-detail {
    margin-bottom: unset;
}
.h-95 {
    height: 95% !important;
}
.spiritual-practices .section-title.c-section-title h2,
.spiritual-practices .section-title.c-section-title h4 span {
    text-transform: capitalize;
}
.spiritual-practices .section-title.c-section-title h4 span {
    font-weight: 600;
}



@media (min-width: 600px) {
    .header .logo img {
        max-height: 100px;
    }
    .hero .about-info {
        padding: 60px 0 40px 0;
    }
    .hero .about-info h2 {
        font-size: 36px;
    }
    .gurus .section-title {
        padding-bottom: 30px;
    }
    .books .section-title {
        padding-bottom: 15px;
    }
    .books .swiper-slide-active {
        transform: scale(1.1);
    }
    .page-title {
        padding: 120px 0 60px 0;
    }
    .section.c-section {
        padding: 60px 0px;
    }
    .section-title.c-section-title h2 {
        font-size: 32px;
    }
    .section.c-section .guru-summary,
    .section.c-section .book-summary {
        padding-top: 0;
    }
    .page-title.c-page-title h1 {
        font-size: 42px;
    }
    .page-title .breadcrumbs ol {
        font-size: 16px;
    }
    .c-section-detail {
        margin: 30px auto;
    }
    .books-brief {
        padding: 30px;
        margin-bottom: 30px;
    }
}