body {
    font-family: var(--bs-body-font-family);
}
.header {
    padding: 0;
    height: 100px;
}
.header .logo img {
    max-height: 50px;
}
.hero:before {
    background: color-mix(in srgb, var(--background-color), transparent 50%);
}
.hero .about-info {
    padding: 40px 0 40px 0;
}
.hero .about-info h2 {
    font-size: 28px;
}
.gurus .section-title p {
    color: #2f3138;
}
.hotels .card h5 {
    font-size: 1.1rem;
    padding: 0 20px;
}
.hotels .card p {
    font-style: normal;
}
.plyr__poster {
    background-image: url(/sri-vedanta-swarajya-sangam/assets/audio/gurumantra.gif);
    opacity: 1;    
}
.gallery {
    overflow: clip;
}
.glightbox-container .gbtn {
    visibility: hidden;
}
.footer .copyright {
    text-transform: uppercase;
    font-size: 12px;
}
.footer .copyright a {
    color: #fff;
}
.footer .copyright a:hover {
    color: var(--accent-color);
}
.footer .copyright a:hover i {
    color: #fff;
}
.gurus {
    padding: 30px 0;
}
.gurus .section-title {
    padding-bottom: 15px;
}
.books {
    padding: 30px 0;
}
.books .section-title {
    padding-bottom: 0;
}
.books .swiper-slide {
    /* border: 1px solid; */
    /* padding: 10px; */
}
.books .swiper-slide img {

}
.books .swiper-slide h5 {
    text-align: center;
    margin: 10px auto;
    font-size: 1.1rem;
}
.books .swiper-slide {
    transform: scale(0.9);
}
.books .swiper-slide-active {
    border: unset;
}
.books .swiper-pagination {
    margin-top: 0px;
}
.page-title {
    padding: 80px 0 20px 0;
}
.section.c-section {
    padding: 15px 0px;
}
.section-title.c-section-title {
    padding-bottom: 0;
}
.section-title.c-section-title h2 {
    text-align: left;
    font-size: 24px;
}
.section-title.c-section-title h2::after {
    margin: unset;
}
.section-title.c-section-title h4 {
    text-align: left;
}
.section.c-section .guru-summary,
.section.c-section .book-summary {
    padding-top: 15px;
}
.page-title.c-page-title h1 {
    font-size: 26px;
}
.page-title .breadcrumbs ol {
    font-size: 13px;
}
.c-section-detail {
    margin: 15px auto;
}
.c-section-detail .cta-btn,
.c-section-detail .cta-btn:focus,
.card-details .cta-btn,
.card-details .cta-btn:focus,
.guru-summary .cta-btn,
.guru-summary .cta-btn:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 5px;
    transition: 0.3s;
}
.c-section-detail .cta-btn:hover,
.c-section-detail .cta-btn:focus:hover,
.card-details .cta-btn:hover,
.card-details .cta-btn:focus:hover,
.guru-summary .cta-btn:hover,
.guru-summary .cta-btn:focus:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}
.card-details {
    padding: 15px;
}
.card-details h3 {
    font-size: 1.25rem;
}
.card-details h5 {
    font-size: 1rem;
    line-height: 1.25;
}
.books-brief {
    border: 1px solid #0f1a4d;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.books-brief .c-section-detail {
    margin-bottom: unset;
}
.h-95 {
    height: 95% !important;
}
.spiritual-practices .section-title.c-section-title h2,
.spiritual-practices .section-title.c-section-title h4 span {
    text-transform: capitalize;
}
.spiritual-practices .section-title.c-section-title h4 span {
    font-weight: 600;
}
.header .menu-link {
    color: var(--nav-hover-color);
    font-size: 15px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;
    padding-bottom: 4px;
}
.header .menu-link:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--accent-color);
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    width: 100%;
}
.mobile-nav-toggle {
    display: block;
}
section .articles.search-articles input {
    margin-bottom: 30px;
    border: 1px solid #e7ebed;
    padding: 15px;
    text-align: center;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
    cursor: pointer;
    opacity: 0.7;
    background-origin: content-box;
    box-shadow: 0 0 6px 0 #fbaf3f;
}
section .page-wrapper .articles.label-articles .article {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #e7ebed;
    border-radius: 5px;
}
section .page-wrapper .articles.label-articles .article .articles-content {
    margin-top: 8px;
}
section .page-wrapper .articles.label-articles .article .articles-content h4 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: normal;
}
section .page-wrapper .articles.label-articles .article .articles-content h4 a {
    color: #292b2c;
}
section .page-wrapper .articles.label-articles .article .articles-content .articles-author {
    font-size: 14px;
    margin-bottom: 6px;
    display: none;
}
section .page-wrapper .articles.label-articles .article .articles-content .articles-summary {
    height: 120px;
    overflow: hidden;
}
.shop-data .shop-data-results .shop-item {
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #e7ebed;
    text-align: center;
    border-radius: 5px;
    min-height: 300px;
}
.shop-data .shop-data-results .shop-item .discount {
   text-align: left;
}
.shop-data .shop-data-results .shop-item .discount span.main {
    border-radius: 4px;
    /* box-shadow: 0 1px 12px rgba(0,0,0,.8); */
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 4px;
    max-width: 100%;
    overflow: hidden;
    padding: 1px 6px 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #e6f4ea;
    color: #137333;
}
.shop-data .shop-data-results .shop-item .shop-image img {
    width: auto;
    height: 175px;
    border-radius: 5px;
}
.shop-data .shop-data-results .shop-item h4.shop-title {
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: 15px auto;
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
    text-align: left;
}
.shop-data .shop-data-results .shop-item h4.shop-title a {
    color: #292b2c;
}
.shop-data .shop-data-results .shop-item .price {
    margin-top: 15px;
    border-top: 1px solid #e7ebed;
    padding-top: 15px;
    text-align: center;
}
.shop-data .shop-data-results .shop-item .price .discountprice {
    margin-right: 5px;
    font-weight: bold;
}
.shop-data .shop-data-results .shop-item .price .rupee {
    top: -4px;
    font-size: 10px;
    position: relative;
    left: -2px;
}
.shop-data .shop-data-results .shop-item .price .discountprice {
    font-weight: bold;
}
.shop-data .shop-data-results .shop-item .price .actualprice {
    font-size: 14px;
    color: #70757a;
    text-decoration: line-through;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.blink {
    animation: blink 1s infinite;
}
.google-ad {
    margin: 15px auto;
    border-radius: 5px;
}
.google-ad > p {
    display: none;
}
.spiritual-article h2,
.spiritual-article h3,
.spiritual-article h4,
.spiritual-article h5,
.spiritual-article h6 {
    margin: 15px auto;
}

.spiritual-article p,
.spiritual-article ul li,
.spiritual-article ol li {
    margin: 10px auto;
    font-size: 16px;
    letter-spacing: 0;
}
.spiritual-article .spritual-img img {
    border-radius: 10px;
}


@media (min-width: 600px) {
    .header .logo img {
        max-height: 100px;
    }
    .hero .about-info {
        padding: 60px 0 40px 0;
    }
    .hero .about-info h2 {
        font-size: 36px;
    }
    .gurus .section-title {
        padding-bottom: 30px;
    }
    .books .section-title {
        padding-bottom: 15px;
    }
    .books .swiper-slide-active {
        transform: scale(1.1);
    }
    .page-title {
        padding: 120px 0 60px 0;
    }
    .section.c-section {
        padding: 60px 0px;
    }
    .section-title.c-section-title h2 {
        font-size: 32px;
    }
    .section.c-section .guru-summary,
    .section.c-section .book-summary {
        padding-top: 0;
    }
    .section.c-section.article-content {
        padding: 15px 0px;
    }
    .page-title.c-page-title h1 {
        font-size: 42px;
    }
    .page-title .breadcrumbs ol {
        font-size: 16px;
    }
    .c-section-detail {
        margin: 30px auto;
    }
    .books-brief {
        padding: 30px;
        margin-bottom: 30px;
    }
    .spiritual-article h2,
    .spiritual-article h3,
    .spiritual-article h4,
    .spiritual-article h5,
    .spiritual-article h6 {
        margin: 30px auto;
    }
    .spiritual-article p,
    .spiritual-article ul li,
    .spiritual-article ol li {
        margin: 15px auto;
        font-size: 18px;
    }
    .spiritual-article .spritual-img {
        float: right;
        margin-left: 30px;
        width: 50%;
    }
}