
h1, .h1 {
    font-size: 24px;
}
p {
    line-height: 1.5;
}

.navbar-top {
    padding: 12px 0;
    border: unset;
    margin-top: 6px;
}
.navbar .navbar-top .logo {
    background-color: black;
    color: white;
    padding: 10px 14px;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 600;
}
.navbar .navbar-bottom-menu {
    border: unset;
}
.navbar .navbar-bottom-menu .navbar-nav .nav-item .nav-link {
    padding: 12px 0;
    font-size: 13px;
    font-weight: normal;
}
.navbar .navbar-bottom-menu .navbar-nav .nav-item {
    padding: 0 20px;
}
.navbar .navbar-bottom-menu .navbar-nav .nav-item.search a {
    padding-top: 15px;
}
.navbar .navbar-bottom-menu .navbar-nav .nav-item.search a i {
    font-size: 16px;
    line-height: 0;
    display: block;
}
.navbar-bottom-menu .navbar-nav .nav-item:last-child {
    display: block;
}

.navbar .navbar-bottom-menu .navbar-toggler {
    top: 13px;
}
.banner-top-thumb {
    max-width: 82px;
    max-height: 42px;
}
.banner-top-thumb-wrap {
    margin-bottom: 0;
    border: unset;
}
.banner-top-thumb-wrap h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 15px;
}
#main-banner-carousel .carousel-content-wrapper .carousel-content {
    left: 12px;
    padding: 6px 10px;
    background-color: #00000052;
    border-radius: 5px;
}
.owl-carousel .owl-item img {
    /* max-width: 330px; */
    max-height: 250px;
    height: 250px;
}
.owl-carousel .carousel-content h2,
.owl-carousel .carousel-content h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 15px;
    /* text-shadow: -1px 1px 0 #292b2c, 1px 1px 0 #292b2c, 1px -1px 0 #292b2c, -1px -1px 0 #292b2c; */
}
.home_right_of_carousel ._title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 15px;
}
.home_right_of_carousel i {
    padding-right: 5px;
}
.home_right_of_carousel span {
    margin-bottom: 5px;
}
._design_one_section_news,
._design_two_section_news,
._design_three_section_news,
._design_four_section_news,
._design_five_section_news {
    margin: 30px auto;
}
._design_one_section_news .section-title,
._design_two_section_news .section-title,
._design_three_section_news .section-title,
._design_four_section_news .section-title,
._design_five_section_news .section-title {
    color: #212529;
}
._design_one_section_news h5,
._design_one_section_news p,
._design_two_section_news h2,
._design_two_section_news h5,
._design_two_section_news p,
._design_three_section_news h2,
._design_three_section_news h5,
._design_three_section_news p,
._design_four_section_news h5,
._design_five_section_news h5,
.search-news .news h5,
.search-news .news p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 15px;
}
._design_two_section_news p.line-4,
._design_three_section_news p.line-4 {
    -webkit-line-clamp: 4;
    line-clamp: 4;
}
._design_two_section_news h5.line-1,
._design_three_section_news h5.line-1 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
footer {
    padding: unset;
    margin: 30px auto;
}
footer .footer-vertical-nav {
    padding: unset;
    list-style: none;
    margin: 30px auto;
}
footer .footer-vertical-nav li {
    display: inline-block;
}
footer .footer-vertical-nav li a {
    margin: auto 15px;
    padding: 5px 0px;
}
footer .footer-vertical-nav.bottom-footer {
    padding: 15px;
    margin: unset;
}
footer .footer-vertical-nav.bottom-footer li a {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #212529;
    padding-right: 1rem;
}
/* .news_main_section {
    margin: 30px auto;
} */
.news_main_section .continue-reading {
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255 255 255) 100%);
    width: 100%;
    height: 36%;
    text-align: center;
}
.news_main_section .continue-reading a {
    border: 1px solid #212529;
    border-radius: 18px;
}
._design_one_category_page {
    margin: 15px auto;
}
._design_one_category_page .section-title {
    color: #212529;
}
._design_one_category_page h2,
._design_one_category_page h5,
._design_one_category_page p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 15px;
}
._design_one_category_page p.line-4 {
    -webkit-line-clamp: 4;
    line-clamp: 4;
}
._design_one_category_page h5.line-1 {
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
.prev-next-news a {
    font-size: 24px;
}
.prev-next-news a:hover {
    text-decoration: none;
}
.banner-top-thumb-wrap,
.home_right_of_carousel > div {
    display: none;
}
.google-ad {
    margin: 15px auto;
}
img {
    border-radius: 5px;
}
.ss-box {
    position: fixed;
    background-color: white;
    z-index: 1;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
}
.prev-next-news .prev {
    display: block;
    position: fixed;
    bottom: 30px;
    padding: 10px;
    background-color: #fff;
    left: 0;
    z-index: 1;
    font-size: 28px;
}
.prev-next-news .next {
    display: block;
    position: fixed;
    bottom: 30px;
    padding: 10px;
    background-color: #fff;
    right: 0;
    z-index: 1;
    font-size: 28px;
}
ol.breadcrumb {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0;
    margin-top: 15px;
}
ol.breadcrumb li,
ol.breadcrumb li a,
ol.breadcrumb li a:hover {
    color: #212529;
}
._category-tile img {
    height: 150px;
    width: 100%;
}
._category-tile a:hover {
    color: #212529;
}
.category_main_section img {
    width: 100%;
    height: 100px;
}
.search-news .news ._news {
    border: 1px solid #dbdbdb;
    padding: 15px;
    border-radius: 5px;
    margin: 10px auto;
}
input#search-news {
    border: 1px solid #dbdbdb;
    padding: 24px;
    text-align: center;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
    cursor: pointer;
    opacity: 0.7;
    background-origin: content-box;
    box-shadow: 0 0 6px 0 #1183d6;
    margin: 15px auto 25px;
}
footer p.footer-notes {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #212529;
    padding: 20px !important;
}
footer p.footer-notes a,
footer p.footer-notes a:hover {
    color: #212529;
}



/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/********************************************************* Desktop **********************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
/****************************************************************************************************************************/
@media (min-width: 600px) {
    h1, .h1 {
        font-size: 32;
    }

    .navbar-top {
        padding: 20px 0;
        text-align: center;
    }
    .navbar .navbar-top .logo {
        font-size: 28px;
    }
    .navbar .navbar-bottom-menu {
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
    }
    #main-banner-carousel .carousel-content-wrapper .carousel-content {
        left: 20px;
        bottom: 20px;
        padding: 8px 16px;
    }
    .owl-carousel .owl-item img {
        max-width: 730px;
        max-height: 390px;
        height: 390px;
    }
    .image-hover img {
        height: 143px;
        width: 254px;
    }
    .image-hover .thumb-title {
        border-radius: 0 5px 0 5px;
        padding: 8px 16px;
    }
    .news_main_section {
        margin: unset;
    }
    ._design_two_section_news .image-hover.primary img,
    ._design_three_section_news .image-hover.primary img,
    ._design_one_category_page .image-hover.primary img,
    .news_main_section .image-hover.primary img {
        height: auto;
        width: 100%;
    }
    .banner-top-thumb-wrap,
    .home_right_of_carousel > div,
    .prev-next-news {
        display: block;
    }
    .ss-box {
        margin: 15px auto;
        text-align: center;
        display: block;
        position: unset;
    }
    .ss-box .ss-btn {
        padding: 8px;
        margin: 2px;
        border-radius: 50%;
        font-size: 12px;
        width: 30px;
    }
    .prev-next-news .prev, .prev-next-news .next {
        position: unset;
        display: unset;
        font-size: 24px;
        padding: unset;
    }
    ol.breadcrumb {
        margin-bottom: 15px;
    }

}