/*
Custom Css
*/
:root {
    --bestproduct-green: #2E8B57; /* Define the variable */
}
.bestproduct-green {
    color: var(--bestproduct-green) !important;
}
body, ul, li, p, a, label, input, div {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: normal !important;
    letter-spacing: 0.5px;
}
a {
    color: #2E8B57;
    text-decoration: unset;
}
a:hover {
    color: #292b2c;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.blink {
    animation: blink 1s infinite; /* 1 second duration, infinite loop */
}
.blink:hover,
a:hover .blink {
    animation: unset;
}
.home-banner-image-render,
.page-banner-image-render {
    height: 200px;
    width: auto;
}
.category-banner-image-render {
    height: 150px;
    width: auto;
    /* padding: 50px; */
}
#templatemo_main_nav a.active {
    color: #2E8B57;
}
#tempaltemo_footer h2,
#tempaltemo_footer p {
    color: #F0F0F0 !important;
}
#tempaltemo_footer a:hover {
    color: #2E8B57 !important;
}
.strike {
    text-decoration: line-through;
}
.rupee::before {
    content: '\20B9';
    top: -5px;
    font-size: 15px;
    position: relative;
    left: -2px;
}
.strike .rupee::before {
    font-size: 20px;
}
a.navbar-brand.logo {
    margin: 5px 0;
    /* padding: 6px 10px 4px 14px; */
    font-size: 20px !important;
    text-transform: uppercase;
    border-bottom: 6px double;
    /* border-radius: 12px 0; */
    letter-spacing: 1px;
    font-weight: bold !important;
}
a.navbar-brand.logo .logo-title {
    vertical-align: middle;
    border-top: 6px double;
    padding-top: 6px;
    font-family: fantasy;
}
nav.breadcrumb-wrapper {
    /* background: #fff; */
    margin: 10px auto;
    /* padding: 5px 15px; */
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 5px;
    /* border: 1px solid rgba(0,0,0,.05); */
}
nav.breadcrumb-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
}
nav.breadcrumb-wrapper .breadcrumb {
    margin-bottom: 0;
    display: flex; /* Use flexbox to arrange items in a row */
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
}
nav.breadcrumb-wrapper .breadcrumb .breadcrumb-item {
    flex: 0 0 auto; /* Keeps each breadcrumb item from shrinking */
    font-size: 13px !important;
}
nav.breadcrumb-wrapper .breadcrumb .breadcrumb-item a {
    font-size: 13px !important;
}
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: 0;
}
.card {
    border-radius: 5px;
}
.card a {
    color: #212529;
    letter-spacing: normal;
}
.card a:hover {
    color: #2E8B57;
}
.card a.btn {
    font-weight: 500 !important;
}
.card.you-might-also-like {
    border: unset;
}
.card.you-might-also-like h2,
.recent-products h2 {
    display: flex;
}
.card.you-might-also-like h2::after,
.recent-products h2::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 1px;
    background-color: #e7ebed;
    margin-top: 15px;
}
.card.you-might-also-like a {
    color: #2E8B57;
    font-size: 16px !important;
    text-underline-offset: 2px;
    display: block;
}
.card.you-might-also-like a:hover {
    color: #292b2c;
}
.card.you-might-also-like a span {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.offer {
    color: #2E8B57;
}
.shop-item {
    margin: 15px auto;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.05);
    text-align: center;
    border-radius: 5px;
    min-height: 400px;
}
.shop-item:hover {
    background-color: #f8f9faa1;
}
.shop-item .discount {
    /* left: 25px; */
    position: absolute;
    /* top: 25px; */
    z-index: 1;
}
.shop-item .discount span.main {
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    /* font-weight: bold; */
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 4px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px 8px 0px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #2E8B57;
    color: #ffffff;
    background-color: #e6f4ea;
    color: #137333;
}
.shop-item .discount .rupees {
    font-size: 8px;
    top: -4px;
    position: relative;
    left: -1px;
}
.shop-item .discount .off {
    margin-left: 2px;
}
.shop-item .shop-image img {
    border-radius: 5px;
    margin: 0 auto; 
}
.shop-item h4.shop-title {
    font-size: 18px;
    line-height: 1.4;
    margin: 15px auto;
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
    text-align: left;
    color: #292b2c;
}
.templatemo-accordion a,
.shop-item h4.shop-title a {
    color: #292b2c;
}
.shop-item h4.shop-title a:hover {
    color: #2E8B57;
}
.shop-item h4.shop-title a {
    display: block;
}
.shop-item .price {
    margin-top: 15px;
    border-top: 1px solid rgba(0,0,0,.05);
    padding-top: 15px;
    text-align: center;
}
.shop-item .price .discountprice {
    margin-right: 5px;
    font-weight: bolder;
    display: inline-block;
}
.shop-item .price .rupees {
    top: -4px;
    font-size: 10px;
    position: relative;
    left: -2px;
}
.shop-item .price .actualprice {
    display: inline-block;
    font-size: 14px;
    color: #70757a;
    text-decoration: line-through;
}
.shop-item .store {
    margin-top: 5px;
    text-align: center;
}
.shop-item .store a {
    color: #292b2c;
}
.shop-item .store a:hover {
    color: #2E8B57;
}
.product-card .card-img {
    width: 50%;
}
.product-compare-wrapper .product-compare-wrapper-inner::before {
    content: "Product Comparison";
    text-align: center;
    background-color: #e5f4ea;
    padding: 12px 14px 10px 14px;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #2E8B57;
    letter-spacing: 2px;
    border-radius: 0 0 5px 5px;
}
.product-compare-wrapper a {
    color: #292b2c;
}
.product-compare-wrapper a:hover {
    color: #2E8B57;
}
.product-compare-wrapper .shop-item {
    padding: 15px;
    margin: 15px auto;
    border: 1px solid #e6ebed77;
    min-height: 150px;
}
.product-compare-wrapper a.btn {
    color: #fff;
}
.services-icon-wap:hover,
.services-icon-wap:hover i,
.services-icon-wap:hover a {
    color: #fff;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important;
}
.featured-categories a {
    color: #292b2c;
    text-decoration: unset;
}
.featured-categories a:hover {
    color: #2E8B57;
}
.category-class:hover,
.discount-class:hover,
.sort-class:hover,
.category-class.active,
.discount-class.active,
.sort-class.active,
.category-class.active:hover,
.discount-class.active:hover,
.sort-class.active:hover {
    color: #2E8B57 !important;
}
.slick-list .shop-item .shop-image img {
    height: 200px;
    width: auto;
}
figure.table {
    background-color: #ffffff;
}
figure.table th,
figure.table td {
    border: 1px solid #e6ebed77;
    padding: 4px 2px;
    text-align: center;
}
figure.table th {
    background-color: #2E8B57;
    color: white;
}
figure.table td {
    font-size: 16px;
}
#site-fixed-ad-container {
    display: none;
}
#site-fixed-ad-container {
    position: fixed;
    z-index: 2147483645;
    background-color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
    padding: 5px;
}
#site-fixed-ad-container .x {
    position: absolute;
    right: 8px;
    top: 0;
}
#site-fixed-ad-container .x:hover {
    cursor: pointer;
}

#policy-container {
    position: fixed;
    z-index: 2147483645;
    background-color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0;
    box-shadow: 0 0 18px rgba(0,0,0,.2);
    padding: 5px;
}
#policy-container .policy-container {
    margin: 15px auto;
}
#policy-container .policy-container .title {
    font-size: 20px;
    margin: 15px auto;
}
#policy-container .policy-container .title .x {
    position: absolute;
    right: 20px;
    top: 10px;
}
#policy-container .policy-container .title .x:hover {
    cursor: pointer;
}
#policy-container .policy-container .desc {
    margin: 15px auto;
    font-size: 14px !important;
}
#policy-container .policy-container .policy-button {
    font-size: 15px !important;
    border-radius: 5px;
    background-color: #2E8B57;
    color: #fff;
    border-color: #2E8B57;
    padding: 6px;
    text-align: center;
    /* width: 50%; */
    margin-top: 20px;
}
#policy-container .policy-container .policy-button:hover {
    cursor: pointer;
}
.home-featured .card-img-top {
    padding: 30px;
}
.home-featured .discount {
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.home-featured .discount .main {
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    /* font-weight: bold; */
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 4px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px 8px 0px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #2E8B57;
    color: #ffffff;
}
.hover-backgroud:hover {
    background-color: #f8f9faa1;
}
.product-content {
    border: unset;
    margin-bottom: 30px;
}
.product-content h1 {
    line-height: 1.1;
}
.product-content h1 a {
    font-size: 22px !important;
}
.product-description {
    font-size: 16px !important;
    line-height: 1.5;
    letter-spacing: 0;
}
.product-description h3,
.product-description h4,
.product-description h5 {
    font-size: 20px !important;
    font-weight: 500;
    margin: 15px auto;
    letter-spacing: 0;
}
.product-description h2 strong,
.product-description h3 strong,
.product-description h4 strong,
.product-description h5 strong,
.product-description h6 strong,
.product-description p strong,
.product-description ul li strong {
    font-weight: normal;
}
.product-description p,
.product-description ul li {
    font-size: 16px !important;
    line-height: 1.5;
    margin: 15px auto;
    letter-spacing: 0;
}
.product-content.product-compare-wrapper h1 {
    font-size: 22px !important;
    line-height: 1.3;
}
.full-background {
    background-image: url('/bestproducts/assets/img/shop-bg.avif');
}
  


@media (min-width: 600px) {
    .home-banner-image-render {
        height: 325px;
        width: auto;
    }
    .page-banner-image-render {
        height: 200px;
        width: auto;
    }
    .category-banner-image-render {
        height: 175px;
    }
    #templatemo_main_nav .navbar-nav {
        max-width: 100%;
    }
    #templatemo_main_nav a {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    a.navbar-brand.logo {
        /* padding: 10px 14px 8px 18px; */
        /* border-radius: 24px 0; */
        margin: 12px 0;
    }
    nav.breadcrumb-wrapper {
        /* margin: 15px auto;
        padding: 15px; */
    }
    nav.breadcrumb-wrapper .breadcrumb .breadcrumb-item {
        font-size: 13px !important;
    }
    nav.breadcrumb-wrapper .breadcrumb .breadcrumb-item a {
        font-size: 13px !important;
    }
    .shop-item {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.05);
    }
    .shop-item .shop-image img {
        width: auto;
        height: 175px;
    }
    .product-card .card-img {
        width: 30%;
    }
    .product-compare-wrapper .shop-item {
        padding: 15px;
        margin: 15px auto;
        border: 1px solid #e6ebed77;
    }
    .product-compare-wrapper .shop-item .price {
        border-top: 1px solid #e6ebed77;
    }
    img.card-img-top {
        height: 250px;
        width: 250px;
        /* width: auto; */
        margin: auto;
        display: block;
    }
    figure.table th,
    figure.table td {
        padding: 4px 10px;
    }
    #site-fixed-ad-container {
        display: block;
    }
    #site-fixed-ad-container {
        width: 25%;
        right: 15px;
        bottom: 15px;
        border-radius: 5px;
        padding: 8px;
    }
    #policy-container {
        width: 25%;
        left: 15px;
        bottom: 15px;
        border-radius: 5px;
        padding: 8px;
    }
    #policy-container .policy-container .policy-button {
        /* width: 100%; */
        margin: auto;
    }
    .home-featured .discount {
        left: 15px;
        top: 15px;
    }
    .product-content h1 {
        line-height: 0.9;
    }
    .product-content h1 a {
        font-size: 24px !important;
    }
    .product-description {
        font-size: 17px !important;
        line-height: 1.5;
    }
    .product-description p {
        font-size: 17px !important;
        line-height: 1.5;
        margin: 15px auto;
    }
    .product-content.product-compare-wrapper h1 {
        font-size: 28px !important;
        line-height: 1.3;
    }
}